@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#c4e4f2  0%,#c4e4f2 130px,#ebf0f2 130px,#ebf0f2 100%);
}
.container
{
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #ebf0f2;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
    display: flex;
}
/* 左侧样式设计 */
.container .leftSide
{
    position: relative;
    flex: 30%;
    background: #e6f1f6;
    /* 左右 布局的分界线 */
    border-right: 1px solid #acc3cd;

}
/* 聊天界面样式设置 */
.container .rightSide
{
    position: relative;
    flex: 70%;
    background: #e3edf3;
    /* overflow: auto;
    max-height: calc(100%); */
}
.container .rightSide::before
{
    content: '';
    position:absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(chatbackground.jpg);
    /* 设置背景的不透明度 */
    opacity: 0.5;
}
/* 列表头格式 */
.header
{
    position: relative;
    width: 100%;
    height: 60px ;
    background: #b1cdda;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

}
.userimg
{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
/* 头像图片展示的方式 */
.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* web标签的使用格式 */
.nav_icons
{
    display: flex;
}

.nav_icons li
{
    display: flex;
    list-style: none;
    cursor:pointer ;
    color: #41baee;
    font-size: 1.5em;
}
/* 设置好友列表的样式 */
.chatlist
{
    position: relative;
    height: calc(100% - 60px);
    overflow-y: auto;
    /* background: #ff0; */
}

.chatlist .block
{
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
}
/* 实现选中颜色变化 */
.chatlist .block active
{
    background: #ebebeb;

}

.chatlist .block:hover
{
    background: #f5f5f5;
}
/* 定义头像的显示形状 */
.chatlist .block .imgbx
{
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chatlist .block .details
{
    position: relative;
    width: 100%;

}
/* 调整时间的显示位置 */
.chatlist .block .details .listhead
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
/* 调整正好名称文字的格式 */
.chatlist .block .details .listhead h4
{
    font-size: 1.1em;
    font-weight: 600;
    color:#111;
}
/* 调整时间显示的格式 */
.chatlist .block .details .listhead .time
{
    font-size: 0.75em;
    /* font-weight: 600; */
    color:#aaa;
}

.chatlist .block .details .listhead .time
{
    color: #111;
}

/* 收到消息显示的字体格式 */
.message_p
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message_p p
{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_p b
{
    background:#41baee;
    color :#fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}
.imgText
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4
{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
}
.imgText h4 span
{
   font-size: 0.8em;
   color:#555 ;
}

.chatcontent
{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.chatBox
{
    position: relative;
    width: 100%;
    overflow: auto;
    height: calc(100% - 260px);
    padding: 50px;
}

.message 
{
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px 0px;
    
}
.message p
{
    position: relative;
    /* 消息文字到右侧的距离 */
    right: 40px;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #acc3cd;
    border-radius: 10px;
    font-size: 0.9em;
}
.message img{
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
}
.message p::before
{
    content: '';
    position: absolute;
    top:0;
    right: -12px;
    height: 20px;
    width: 20px;
    background: linear-gradient(135deg,#acc3cd 0%,#acc3cd 50%,transparent 50% ,transparent);
}

.message p span
{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my_message
{
    justify-content: flex-end;
}

/* .rightimg
{
    position: absolute;
    right: 0px;
    top:0px
} */
.friend_message
{
    justify-content: flex-start;
}
.friend_message p
{
    background: #fff;
    text-align: left;
}
.message.friend_message p::before
{
    content: '';
    position: absolute;
    top:0;
    left: -12px;
    height: 20px;
    width: 20px;
    background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50% ,transparent);
}

.chatbox_input
{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background:#acc3cd;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox_input ion-icon
{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
    position: absolute;
    bottom: 160px;
}

.chat_context
{
    position:absolute;
    left: 30px;
    top:45px;
    width: 95%;
    height: 70%;
    font-size: 15px;
    box-sizing: border-box;
    outline: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 0px;
    padding: 16px;

}
.chat_commit
{
    width: 80px;
    height: 30px;
    color:white;
    background-color: #41baee;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 160px;
    margin-right: 10px;
}
.chat_context{
    resize: none;
}
.chat_context::placeholder
{
    color: #555;
    font-weight: 500k;
}

